.fondo {
    background-color: $background-color-main;

    .section15 {
        margin-bottom: 50px;
        transform: scale(0.75);
        border-radius: 20px;
        background-color: $beige ;
        padding: 50px;
    }

    .menu {
        background-color: $beige;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }

    .flex {
        display: $flex;

        .main__res__sectionCasa {
            background-color: $beige;
            padding: $padding_80;
            width: 30%;
            margin: $margin;
            border-radius: 20px;
            box-shadow: $bordes-negros;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
        }

        .main__res__sectionCasa2 {
            background-color: $beige;
            padding: $padding_80;
            width: 30%;
            margin: $margin;
            border-radius: 20px;
            box-shadow: $bordes-negros;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
        }
    }
}

@include mobile-mediaqueries {
    .fondo {
        background-color: $background-color-main;

        .section4 {
            margin-top: 50px;
            margin-bottom: 50px;
            transform: scale(0.95);
            border-radius: 20px;
            background-color: $beige ;
            padding: 30px;
        }

        .menu {
            background-color: $beige;
            display: $flex;
            justify-content: center;
            padding: $padding_80;
            width: 95%;

            margin: $margin;
            border-radius: 20px;
            box-shadow: 10px 10px 10px rgb(0, 0, 0);
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
        }

        .flex {
            display: $flex;
            flex-direction: column;

            .main__res__sectionCasa {
                background-color: $beige;
                padding: $padding_80;
                width: 95%;
                margin: $margin;
                border-radius: 20px;
                box-shadow: $bordes-negros;
                margin-top: 50px;
                margin-bottom: 25px;
                align-items: center;
            }

            .main__res__sectionCasa2 {
                background-color: $beige;
                padding: $padding_80;
                width: 95%;
                margin: $margin;
                border-radius: 20px;
                box-shadow: $bordes-negros;
                margin-top: 50px;
                margin-bottom: 50px;
                align-items: center;
            }
        }
    }
}